<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">          
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Reset password</h1>
             </div></br></br></br>
            <h2 class="word">
                <!-- <form action="{{ url_for('home') }}" method="post"> -->
                <form action="{{ url_for('confirm_password') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="password" name="password" type="password" placeholder="Enter new password" class="textbox"/></br></br>
                    <input id="password1" name="password1" type="password" placeholder="Confirm your Password" class="textbox"/></br></br></br>
                    <label for="security-question1" style="font-size: medium;">Security Question 1:</label>
                      <br>
                      <select id="security-question1" name="security-question1" required>
                        <option value="">Select a question</option>
                        <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                        <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                        <option value="What is your favorite book?">What is your favorite book?</option>
                      </select>
                      <br>
                      <label for="security-answer1" style="font-size: medium;">Answer:</label><br>
                      <input type="text" id="security-answer1" name="security-answer1" required>
                      <br><br>
        

                    <input type="submit" class="btn" value="Sign In"></br></br>
                    <!-- <a href="{{ url_for('home') }}" class="btn">Submit</a> -->
                    
                </form>
            </h2>
          </div>
        </div>
    </body>
</html>